In [10]:
for day in range(1,31):
    print("'7-{}-2020',".format(day))

'7-1-2020'
'7-2-2020'
'7-3-2020'
'7-4-2020'
'7-5-2020'
'7-6-2020'
'7-7-2020'
'7-8-2020'
'7-9-2020'
'7-10-2020'
'7-11-2020'
'7-12-2020'
'7-13-2020'
'7-14-2020'
'7-15-2020'
'7-16-2020'
'7-17-2020'
'7-18-2020'
'7-19-2020'
'7-20-2020'
'7-21-2020'
'7-22-2020'
'7-23-2020'
'7-24-2020'
'7-25-2020'
'7-26-2020'
'7-27-2020'
'7-28-2020'
'7-29-2020'
'7-30-2020'

In [2]:
todaysEXPTDate = '7-30-2020'
next3daysDate = [range(todaysEXPTDate, todaysEXPTDate+3)]

TypeError: can only concatenate str (not "int") to str

In [18]:
#from datetime import datetime
#from datetime import date
import datetime as dt

todaysDate = dt.datetime.today()
todaysEXPTDate = dt.date(2020, 7, 30)
print(todaysDate.strftime('%m-%d-%Y'))
print(todaysEXPTDate.strftime('%m-%d-%Y'))
#print(range(today))

07-22-2020
07-30-2020

In [36]:
for day in range(1,3+1):
    print((todaysDate+dt.timedelta(days=day)).strftime('%m-%d-%Y'))

07-23-2020
07-24-2020
07-25-2020

In [28]:
range(todaysDate, todaysDate+dt.timedelta(days=3))

TypeError: 'datetime.datetime' object cannot be interpreted as an integer

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

weightsDF = pd.DataFrame({'date':['2020-7-17','2020-7-18','2020-7-19','2020-7-20','2020-7-21','2020-7-22'],
                          'weight':[170.8, 170.4, 170.8, 170.6, 170.6, 745]})
weightsDF.set_index('date', inplace=True)
weightsDF.head()

           weight
date
2020-7-17   170.8
2020-7-18   170.4
2020-7-19   170.8
2020-7-20   170.6
2020-7-21   170.6

In [14]:
print(weightsDF.size)

6

In [9]:
tempDateStr = '2020-7-17'
weight = 57.3
tempDF = pd.DataFrame({'date':tempDateStr, 'weight':weight}, index=[0]) # If only passing scalars, have to specify the index column?
tempDF.set_index('date', inplace=True)
tempDF.head()

           weight
date
2020-7-17    57.3

In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

weightsDF = pd.DataFrame({'date':['2020-7-17','2020-7-18','2020-7-19','2020-7-20','2020-7-21','2020-7-22'],
                          'weight':[170.8, 170.4, 170.8, 170.6, 170.6, 745]})
weightsDF.set_index('date', inplace=True)

print(weightsDF.head())
sqlEngine       = create_engine('mysql+pymysql://root:adminadmin@127.0.0.1:3306/date_weight_pairs', echo=True)
try:
    glWeightDB  = sqlEngine.connect()
except:
    print("ERROR: Couldn't connect to database")

try:
    weightsDF.to_sql('dateweighttable', glWeightDB,if_exists='append')
except:
    print("ERROR: writing date and weight data to database")
    if ValueError:
        print("ERROR: ValueError writing date and weight data to database")

           weight
date
2020-7-17   170.8
2020-7-18   170.4
2020-7-19   170.8
2020-7-20   170.6
2020-7-21   170.6
2020-08-03 17:00:41,404 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-08-03 17:00:41,404 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,409 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-08-03 17:00:41,410 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,413 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-08-03 17:00:41,414 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,415 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-08-03 17:00:41,416 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,506 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-08-03 17:00:41,507 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,508 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-08-03 17:00:41,508 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,509 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-08-03 17:00:41,510 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,512 INFO sqlalchemy.engine.base.Engine DESCRIBE `dateweighttable`
2020-08-03 17:00:41,512 INFO sqlalchemy.engine.base.Engine {}
2020-08-03 17:00:41,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-03 17:00:41,516 INFO sqlalchemy.engine.base.Engine INSERT INTO dateweighttable (date, weight) VALUES (%(date)s, %(weight)s)
2020-08-03 17:00:41,517 INFO sqlalchemy.engine.base.Engine ({'date': '2020-7-17', 'weight': 170.8}, {'date': '2020-7-18', 'weight': 170.4}, {'date': '2020-7-19', 'weight': 170.8}, {'date': '2020-7-20', 'weight': 170.6}, {'date': '2020-7-21', 'weight': 170.6}, {'date': '2020-7-22', 'weight': 745.0})
2020-08-03 17:00:41,539 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
sqlEngine       = create_engine('mysql+pymysql://root:adminadmin@127.0.0.1:3306/date_weight_pairs', echo=True)
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3'], 'color':['purple','rose','yellow']})
df.to_sql('users', con=sqlEngine, if_exists='replace')

2020-07-29 15:21:22,058 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-07-29 15:21:22,059 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,065 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-07-29 15:21:22,066 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,071 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-07-29 15:21:22,071 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,073 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-07-29 15:21:22,073 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,155 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-07-29 15:21:22,156 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,157 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-07-29 15:21:22,157 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,158 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-07-29 15:21:22,158 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,160 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2020-07-29 15:21:22,160 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,214 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2020-07-29 15:21:22,215 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,218 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `date_weight_pairs`
2020-07-29 15:21:22,219 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,222 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `users`
2020-07-29 15:21:22,223 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:22,226 INFO sqlalchemy.engine.base.Engine
DROP TABLE users
2020-07-29 15:21:22,226 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:23,395 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-29 15:21:23,397 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	`index` BIGINT,
	name TEXT,
	color TEXT
)


2020-07-29 15:21:23,398 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:24,476 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-29 15:21:24,477 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_users_index ON users (`index`)
2020-07-29 15:21:24,478 INFO sqlalchemy.engine.base.Engine {}
2020-07-29 15:21:25,436 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-29 15:21:25,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-07-29 15:21:25,439 INFO sqlalchemy.engine.base.Engine INSERT INTO users (`index`, name, color) VALUES (%(index)s, %(name)s, %(color)s)
2020-07-29 15:21:25,439 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'name': 'User 1', 'color': 'purple'}, {'index': 1, 'name': 'User 2', 'color': 'rose'}, {'index': 2, 'name': 'User 3', 'color': 'yellow'})
2020-07-29 15:21:25,469 INFO sqlalchemy.engine.base.Engine COMMIT